<table class="table table-bordered bg-dark text-white" *ngIf="stdarr.length > 0; else noStd">
    <thead>
      <tr>
        <th>Sr.no</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let std of stdarr; index as i">
        <td>{{i+1}}</td>
        <td>{{std.fname}}</td>
        <td>{{std.lname}}</td>
        <td>{{std.email}}</td>
        <td>{{std.contact}}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #noStd>
    <p class="alert alert-info">No student added yet!</p>
  </ng-template>