<h3 class="alert alert-info text-center">Student task IO decorators</h3>
<div class="container">
  <div class="row">
    <div class="col-md-6 mt-4">
       <app-std-form
       (stdobj)="onStdAd($event)"></app-std-form>
    </div>
    <div class="col-md-6 mt-4">
      <app-std-table
      [stdarr]="studentArry"></app-std-table>

    </div>
  </div>
</div>
<hr>
<h3 class="alert alert-info text-center">Todo task IO decorators</h3>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-todo-form
      (todoAdd)="onTodoSubmit($event)"></app-todo-form>
    </div>
    <div class="col-md-6">
     <app-todo-list
     [todos]="todoArry"></app-todo-list>
    </div>
  </div>
</div>

